/* font-family: 'Kaushan Script', cursive;
font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif; */
body {
    margin: 0;
    font-family: "Montserrat", sans-serif;

    font-size: 15px;
    line-height: 1.6;
    color: #333;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

.container{
    width: 100%;
    max-width: 1220px;
    padding: 0 15px;
    margin: 0 auto;
}

.intro{
   background: url("images/intro.jpg") center no-repeat;
   background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.intro__inner{
    width: 100%;
    max-width: 880px;
    margin: 0 auto;
    text-align: center;
    
}
.intro__subtitle:after{
content: "";
display: block;
width: 60px;
height: 3px;
background-color: #fff;
margin: 60px auto;


}
.intro__subtitle{
color: #fff;
font-size: 150px;
font-weight: 700;
line-height: 1;
text-align: center;
text-transform: uppercase;
}

.intro__suptitle{
    margin-bottom: 15px;
 color: #fff;
font-family: "Kaushan Script";
font-size: 72px;
text-align: center;

}

.intro__btn{
    display: inline-block;
    vertical-align: top;
    border: 3px solid #fff;
    padding:8px 30px;
    text-decoration: none;
    text-transform: uppercase;
    color:#fff;
    font-weight: 700;
    font-size: 14px;
    transition: background .3s linear;
}

.intro__btn:hover{
    background: #fff;
    color:#333;
    
}

/* Header */

.header{
    padding-top: 30px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.header__logo{

color: #ffffff;
font-size: 30px;
font-weight: 700;
}

.header__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
/* Slider */
.slider{
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    width: 100%;
}
.slider__inner{
    display: flex;
    justify-content: space-between;

}
.slider__item
{
    width: 23%;
    opacity: 0.7;
    color: #ffffff;
    font-family: Montserrat;
    font-size: 18px;
    text-align: left;
    text-transform: uppercase;
    padding:20px 0;
    border-top: 3px solid #fff;
    position: relative;
}
.slider__item.active{
    opacity: 1;
   
}

.slider__item.active::before{
    content: "";
    display: block;
    height: 3px;
    width: 25%;
    position: absolute;
    left: 0;
    top:-3px;
    background: #f38181;
    z-index: 1;

}

.slider__num{
    font-weight: 700;
    font-size: 24px;
}



/* Nav */

.nav{
font-size: 14px;
text-transform: uppercase;
}

.nav__item{
    display: inline-block;
    vertical-align: top;
    text-decoration: none;
    color:#fff;
    margin: 0 15px;
    transition: color    0.2s linear;
    position: relative;
}
.nav__item:hover{
    color:#fce38a;
}
.nav__item::after{
    content: "";
    display: block;
    background-color:#fce38a;;
    width: 100%;
    height: 3px;
    position: absolute;
    top:100%;
    z-index: 1;
    left: 0;
    opacity: 0;
    transition: .3s opacity linear ;
}
.nav__item:hover:after{
    opacity: 1;
}

/* Section */
.section{
    padding: 80px 0;
}

.section--device{
    background: url("/assets/images/devices-bg.jpg") center no-repeat;
    background-size: cover;
    padding-bottom: 0;
}
.section__header{
    text-align: center;
    margin:0 auto 50px;
    width: 100%;
    max-width: 950px;
}

.section__suptitle{
  color: #333333;
font-family: "Kaushan Script";
font-size: 24px;
}

.section__subtitle{
color: #333333;
font-size: 30px;
font-weight: 700;
text-transform: uppercase;

}
.section__subtitle::after{
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background: #f38181;
    margin: 30px auto;
}
.section__text{
color: #999999;
font-family: Roboto;
line-height: 24px;

}

/* About */

.about{
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
}

.about__item{
    width: 32%;
    background-color: #95e1d3;
    position: relative;
}

.about__img:hover.about__img{
    background-color: #95e1d3;
    transform: translate3d(-10px,-10px, 0);
}

.about__img:hover.about__img img{
    opacity: .1;
   
}

.about__img{
      
    background: linear-gradient(to bottom, #f38181,#fce38a);
    transition: transform .2s linear;
}
.about__img img{
    display: block;
    width: 100%;
    max-width: 380px;
    transition: opacity .2s linear;
}
.about__text{
    width: 100%;
color: #ffffff;
font-size: 18px;
font-weight: 700;
text-transform: uppercase;
font-size:0;
text-align: center;
}
.fas.fa-user-friends{
    display: none;
    color:#fff;
    font-size: 25px;
    text-align: center;
}

.about__item:hover .about__text{
    font-size: 18px;
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    z-index: 2;
}

.about__item:hover .fas.fa-user-friends{
    display: block;
    position: absolute;
    top:30%;
    left: 0;
    right: 0;
    z-index: 2;
}

/* Stat */

.stat{
    background-color: #95e1d3;
}
.stat__inner{
    display: flex;
    justify-content: space-between;
    color: #ffffff;
    text-align: center;
}

.stat__item{
  padding: 70px 25px;
    flex: 1 1 0;
    border-left:1px solid #b0e8de ;
}
.stat__inner:last-child{
    border-right:1px solid #b0e8de ; 
}
.stat__num{

font-size: 72px;
font-weight: 700;
text-transform: uppercase;

}

.stat__text{
font-size: 14px;
text-transform: uppercase;
}

/* Tech */


.tech{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.tech__item{
    position: relative;
    width: 33.3333%;
    padding: 0 35px 40px 85px;
    margin-bottom: 60px;
    
  
}

.tech__item--border{
    border-bottom: 1px solid #e5e5e5 ;
}

.tech__icon{
    position: absolute;
    left: 20px;
    top: 5px;
}

.tech__title{
color: #333333;
text-transform: uppercase;
margin-bottom: 15px;
font-weight: 700;
}

.tech__text{
color: #999999;
font-family: Roboto;
font-size: 15px;
line-height: 24px;
text-align: left;

}

/* Devices */

.devices{
  display: block;
  position: relative;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;

}

.devices__item{
    display: block;
    max-width: 100%;
    height: auto;
}
.devices__item--iphone{
    position: absolute;
    bottom: -80px;
    right: 0;
    z-index: 2;
}


/* WeDo */


.wedo{
    display: flex;
   
}

.wedo__item{
    width: 50%;
    
}

.wedo__item--photo{
    max-width: 570px ;
}

/* Acord */

.accord{

}
.accord__item{
    border: 1px solid #e5e5e5;  
}
.accord__header{
    position: relative;
    border-bottom: 1px solid #e5e5e5;
    padding: 15px 20px 15px 65px ;
    vertical-align: top;
    cursor: pointer;

}
.accord__header:after{
    content: "";
    display: block;
    width: 22px;
    height: 22px;

    border-top: 2px solid #ccc;
    border-right: 2px solid #ccc;

    position: absolute;
    top: 60%;
    transform: translateY(-40%) rotate(-45deg);
    right: 20px;
    z-index: 1;
    cursor: pointer;

    transition: all .2s linear;
    
}


.accord__item.active .accord__header:after{
transform: translateY(-80%) rotate(
133deg);
}

.accord__icon{
    position: absolute;
    top:50%;
    left: 20px;
    z-index: 1;
    transform: translateY(-50%);
}


.accord__text{
color: #333333;
text-transform: uppercase;

}
.accord__content{

height: 0;
visibility: hidden;
color: #999999;
font-family: "Roboto";
font-weight: 300;
font-style: italic;
font-size: 15px;
line-height: 24px;
text-align: left;
padding: 0 20px;
transition: height .4s linear, visibility .1s linear;

}

.accord__item.active .accord__content{
    /* display: block; */
    height: 200px;
    visibility: visible;
    padding-top: 15px;
    padding-bottom: 15px;
}

