/* font-family: 'Kaushan Script', cursive;
font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif; */
body {
    margin: 0;
    font-family: "Montserrat", sans-serif;

    font-size: 15px;
    line-height: 1.6;
    color: #333;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

.container{
    width: 100%;
    max-width: 1220px;
    padding: 0 15px;
    margin: 0 auto;
}

.intro{
   background: url("/assets/images/intro.jpg") center no-repeat;
   background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.intro__inner{
    width: 100%;
    max-width: 880px;
    margin: 0 auto;
    text-align: center;
    
}
.intro__subtitle:after{
content: "";
display: block;
width: 60px;
height: 3px;
background-color: #fff;
margin: 60px auto;


}
.intro__subtitle{
color: #fff;
font-size: 150px;
font-weight: 700;
line-height: 1;
text-align: center;
text-transform: uppercase;
}

.intro__suptitle{
    margin-bottom: 15px;
 color: #fff;
font-family: "Kaushan Script";
font-size: 72px;
text-align: center;

}

.intro__btn{
    display: inline-block;
    vertical-align: top;
    border: 3px solid #fff;
    padding:8px 30px;
    text-decoration: none;
    text-transform: uppercase;
    color:#fff;
    font-weight: 700;
    font-size: 14px;
    transition: background .3s linear;
}

.intro__btn:hover{
    background: #fff;
    color:#333;
    
}

/* Header */

.header{
    padding-top: 30px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.header__logo{

color: #ffffff;
font-size: 30px;
font-weight: 700;
}

.header__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}

.slider{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.slider__item
{
    width: 23%;
    opacity: 0.7;
    color: #ffffff;
    font-family: Montserrat;
    font-size: 18px;
    text-align: left;
    text-transform: uppercase;
    padding:20px 0;
    border-top: 3px solid #fff;
    position: relative;
}
.slider__item.active{
    opacity: 1;
    color: aqua;
}

.slider__item.active::before{
    content: "";
    display: block;
    height: 3px;
    width: 25%;
    position: absolute;
    left: 0;
    top:-3px;
    background: #f38181;
    z-index: 1;

}

.slider__num{
    font-weight: 700;
    font-size: 24px;
}
/* Slider */


/* Nav */

.nav{
font-size: 14px;
text-transform: uppercase;
}

.nav__item{
    display: inline-block;
    vertical-align: top;
    text-decoration: none;
    color:#fff;
    margin: 0 15px;
    transition: color    0.2s linear;
    position: relative;
}
.nav__item:hover{
    color:#fce38a;
}
.nav__item::after{
    content: "";
    display: block;
    background-color:#fce38a;;
    width: 100%;
    height: 3px;
    position: absolute;
    top:100%;
    z-index: 1;
    left: 0;
    opacity: 0;
    transition: .3s opacity linear ;
}
.nav__item:hover:after{
    opacity: 1;
}
